# TD learning for prediction

In [2]:
import gym
import numpy as np
import pandas as pd

In [3]:
env = gym.make('FrozenLake-v0')

In [16]:
def random_policy():
    return env.action_space.sample()

In [17]:
V = {s: 0.0 for s in range(env.observation_space.n)}

In [18]:
alpha = 0.85
gamma = 0.90

In [19]:
num_episodes = 50000
num_timesteps = 1000

In [20]:
for i in range(num_episodes):
    s = env.reset()
    for t in range(num_timesteps):
        a = random_policy()
        s_, r, done, _ = env.step(a)
        V[s] += alpha * (r + gamma * V[s_] - V[s])
        
        s = s_
        if done:
            break

In [21]:
df = pd.DataFrame(list(V.items()), columns=['state', 'value'])

In [22]:
df

    state     value
0       0  0.022925
1       1  0.030092
2       2  0.003688
3       3  0.000586
4       4  0.001764
5       5  0.000000
6       6  0.044161
7       7  0.000000
8       8  0.012766
9       9  0.022676
10     10  0.057531
11     11  0.000000
12     12  0.000000
13     13  0.007878
14     14  0.168564
15     15  0.000000